@model Someren.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<h1>Delete Student</h1>

<p>Are you sure you want to delete this student?</p>

<dl class="row">
    <dt class="col-sm-3">Student Number</dt>
    <dd class="col-sm-9">@Model.StudentNumber</dd>

    <dt class="col-sm-3">First Name</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Last Name</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Telephone Number</dt>
    <dd class="col-sm-9">@Model.PhoneNumber</dd>

    <dt class="col-sm-3">Class</dt>
    <dd class="col-sm-9">@Model.Class</dd>
</dl>

<form action="/Students/DeleteConfirmed" method="post">
    <input type="hidden" name="studentId" value="@Model.StudentID" />
    <input type="submit" value="Delete" />
    <a href="/Students">Back</a>
</form>